{% extends "base.html" %}

{% block content %}
<!-- Container for displaying the cart details -->
<div class="table-container">
  <h2>Your Cart</h2>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="product-col">Product</th>
        <th class="price-col">Price</th>
        <th class="quantity-col">Quantity</th>
        <th class="total-col">Total</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart_items %}
      <tr>
        <td>
          {{ item.product.name }}
        </td>
        <td>$
          {{ item.product.price }}
        </td>
        <td>
          {{ item.quantity }}
        </td>
        <td>$
          {{ item.product.price * item.quantity }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="row mt-3">
    <div class="col-md-9">
      <button class="btn btn-success">Proceed to Checkout</button>
    </div>
    <div class="col-md-3 text-right">
      <h4 class="mb-0 px-3">Total: $
        {{ total }}
      </h4>
    </div>
  </div>
</div>
{% endblock %}