{% extends "base.html" %}

{% block content %}
<h2>Products</h2>
<div class="row">
    {% for product in all_products %}
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="card h-100 w-100"> <!-- Added w-100 class -->
            <img src="{{ product.image_url }}" alt="{{ product.name }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text">${{ product.price }}</p>
                <a href="{{ url_for('product_detail', product_id=product.id) }}" class="btn btn-primary">View Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
